#!/usr/bin/env bash

# Make vim the default editor.
export EDITOR='vim';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

##################################
######## USER PREFERENCES ########
################################$$

# Used in ./.macos
COMPUTER_NAME="${COMPUTER_NAME:-yord-mac}"
DROPBOX_PATH="${DROPBOX_PATH:-/opt/Dropbox}"

export WALLPAPER_IMAGE="${DROPBOX_PATH}/backgrounds/927332-grain-wallpaper-for-meizu.jpg"

# Used in ./setup/directories/ssh.sh
export SSH_KEYS_PATH="${DROPBOX_PATH}/Dev/Private/ssh_keys/aio/"
export SSH_WORK_KEYS_PATH="${DROPBOX_PATH}/Dev/Private/ssh_keys/lenses_devops/"
export HISTORY_PATH="${DROPBOX_PATH}/Dev/Private/zsh_history"

# Used in ./setup/apps/07-docker.sh
export DOCKER_MOUNTABLE_HOST_FOLDER="/opt/codebase"

# Used in backup-plists function
export PLISTS_BACKUP_PATH="/opt/codebase/georgeyord/mathiasdotfiles/plists"

### SET TOUCHBAR FUNCTION LABELS PER APPLICATION ###

# if [ -f ~/.iterm2/it2setkeylabel ]; then
#   export ITERM2_KEYLABEL_DEFAULT="default"
#   ~/.iterm2/it2setkeylabel set F1 "F1"
#   ~/.iterm2/it2setkeylabel set F2 "F2"
#   ~/.iterm2/it2setkeylabel set F3 "F3"
#   ~/.iterm2/it2setkeylabel set F4 "F4"
#   ~/.iterm2/it2setkeylabel set F5 "F5"
#   ~/.iterm2/it2setkeylabel set F6 "F6"
#   ~/.iterm2/it2setkeylabel set F7 "F7"
#   ~/.iterm2/it2setkeylabel set F8 "F8"
#   ~/.iterm2/it2setkeylabel set F9 "F9"
#   ~/.iterm2/it2setkeylabel set F10 "10"
#   ~/.iterm2/it2setkeylabel set F11 "11"
#   ~/.iterm2/it2setkeylabel set F13 "13"
#   ~/.iterm2/it2setkeylabel set F14 "14"
#   ~/.iterm2/it2setkeylabel set F15 "15"
#   ~/.iterm2/it2setkeylabel set F16 "16"
#   ~/.iterm2/it2setkeylabel set F17 "17"
#   ~/.iterm2/it2setkeylabel push "${ITERM2_KEYLABEL_DEFAULT}"

#   export ITERM2_KEYLABEL_BYOBU="byobu"
#   ~/.iterm2/it2setkeylabel set F1 "F1"
#   ~/.iterm2/it2setkeylabel set F2 "New"
#   ~/.iterm2/it2setkeylabel set F3 "<-"
#   ~/.iterm2/it2setkeylabel set F4 "->"
#   ~/.iterm2/it2setkeylabel set F5 "F5"
#   ~/.iterm2/it2setkeylabel set F6 "F6"
#   ~/.iterm2/it2setkeylabel set F7 "Scrollback"
#   ~/.iterm2/it2setkeylabel set F8 "Rename"
#   ~/.iterm2/it2setkeylabel set F9 "Menu"
#   ~/.iterm2/it2setkeylabel set F10 "10"
#   ~/.iterm2/it2setkeylabel set F11 "11"
#   ~/.iterm2/it2setkeylabel set F13 "13"
#   ~/.iterm2/it2setkeylabel set F14 "14"
#   ~/.iterm2/it2setkeylabel set F15 "15"
#   ~/.iterm2/it2setkeylabel set F16 "16"
#   ~/.iterm2/it2setkeylabel set F17 "17"
#   ~/.iterm2/it2setkeylabel push "${ITERM2_KEYLABEL_BYOBU}"
# fi

export BATS_LIB_PATH="${BREW_PREFIX}/lib"

# Bat like cat ;-)
export BAT_CONFIG_PATH="$HOME/.bat.conf"

# Go development
# hash /usr/local/bin/go 2> /dev/null && \
# test -f /usr/local/bin/go 2> /dev/null && (
#   export GOPATH="${HOME}/go"
#   export GOBIN="$(go env GOPATH)/bin"
#   export GOROOT="$(brew --prefix golang)/libexec"
# ) || echo >&2 "Go lang not found"

hash pyenv 2> /dev/null && (
  export PYENV_ROOT="$HOME/.pyenv"
) || echo >&2 "Python's pyenv not found (exports)"
