#!/usr/bin/env bash

# Make vim the default editor.
export EDITOR='vim';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

##################################
######## USER PREFERENCES ########
################################$$

# Used in ./.macos
COMPUTER_NAME="centaur-mac"
WALLPAPER_IMAGE="/Users/user/Dropbox/backgrounds/927332-grain-wallpaper-for-meizu.jpg"

# Used in ./setup/directories/ssh.sh
export SSH_KEYS_PATH="/Users/user/Dropbox/Dev/Private/ssh_keys/aio/"

# Used in ./setup/directories/ssh.sh
export SSH_KEYS_PATH="/Users/user/Dropbox/Dev/Private/ssh_keys/aio/"

# Used in ./setup/apps/07-docker.sh
export DOCKER_MOUNTABLE_HOST_FOLDER="/opt/codebase"

# Used in backup-plists function
export PLISTS_BACKUP_PATH="/opt/codebase/georgeyord/mathiasdotfiles/plists"