# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini
Library

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Editors related
.vscode
.history

# Allow custom env var loading
.envs/

# Allow *.TODO files in every repo
*.TODO

# Allow .git-message file in every repo
.git-message
