# Global .gitignore file, will be merged with the .gitignore file(s) of the repo
# Usage:
#  - ignore OS related files like .DS_Store for MacOS
#  - ignore files of specific patterm (example, TODO files) without amending the repo's .gitignore
# To activate it:
#  - move this file to ~/.gitignore
#  - run the following command: `git config --global core.excludesfile ~/.gitignore`

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini
Library

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Editors related
.vscode
.history

# Allow custom env var loading
.envs/

# Allow *.TODO files in every repo
*.TODO
*.TODO.*

# Allow .git-message file in every repo
.git-message
