{{printf "%s\t%s\t\t%s\t%s\t\t%s\t\t%s\n" "Role" "Zone" "Instance type" "Creation date" "Instance group" "Name" }}
{{range $i, $item := .items}}
{{printf "%s\t%s\t%s\t%s\t%s\t\t%s\n"
(index .metadata.labels "kubernetes.io/role")
(index .metadata.labels "failure-domain.beta.kubernetes.io/zone")
(index .metadata.labels "beta.kubernetes.io/instance-type")
.metadata.creationTimestamp
(index .metadata.labels "kops.k8s.io/instancegroup")
.metadata.name
}}
{{end}}