{{- range $i, $item := .items}}
{{- $name := .metadata.name}}
{{- $namespace := .metadata.namespace}}
{{- range $c, $containerStatuses := .status.containerStatuses}}
{{- if gt .restartCount 0 }}
{{- printf "%d\t%s\t%s\t%s\n" .restartCount $namespace $name .name }}
{{- end}}
{{- end}}
{{- end}}